
.home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100vh - var(--header-height));
}

.textAndCode {
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    overflow: auto;
    height: 100%;
}

.code {
    padding: 2rem;
    padding-top: 4rem;
}

.codeLine {
    display: flex;
    flex-direction: row;
}

.text {
    background-color: var(--color-dark-black);
    border-radius: 2rem;
    margin-top: 30%;
    padding: 2rem;

    border-top: 0.3rem solid var(--color-1);
    border-right: 0.3rem solid var(--color-2);
    border-bottom: 0.3rem solid var(--color-3);
    border-left: 0.3rem solid var(--color-4);
}

h1 {
    font-size: 2rem;
}

h4 {
    font-size: 1.3rem;
}

.twoColorDiv {
    display: flex;
    flex-direction: row;
}

.twoColor {
    color: var(--color-blue);
}

img {
    width: 33%;
    border-radius: 50%;
    padding: 0.3rem;
    background-size: 50% 50%, 50% 50%, 50% 50%, 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(0, var(--color-1) 100%, white),
                      linear-gradient(0, var(--color-2) 100%, white),
                      linear-gradient(0, var(--color-3) 100%, white),
                      linear-gradient(0, var(--color-4) 100%, white);
    background-position: left top, right top, right bottom, left bottom;
    background-origin: border-box, border-box, border-box, border-box;
    background-clip: border-box, border-box, border-box, border-box;

    transition: all 5s ease-in;
    transition-property: background-position;
}

img:hover {
    background-position: right top, right bottom, left bottom, left top;
}
