
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--color-light-black);
    height: var(--header-height);

    .logo {
        padding-left: 1.2rem;
    }

    .links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        padding-right: 3rem;
    }
}
