.developer {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--color-dark-black);
    font-family: Arial, sans-serif;

    --color-genoa: rgb(54, 126, 127);
    --color-blue: rgb(0, 11, 122);
    --color-grey: rgb(192, 192, 192);
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);

    background: var(--color-genoa);

    .win95-boot {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 100%;
        }
    }

    .dock {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: var(--color-grey);

        button {
            margin: 3px;
            margin-bottom: 5px;
            padding: 2px;
            border: 2px solid var(--color-black);
            border-radius: 2px 5px 2px 5px;
            box-shadow: 2px 2px 0px 0px var(--color-black);
            font-size: large;
            color: var(--color-black);
        }
    }
}
