
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
    background: var(--color-light-black);
    padding: 2rem;
    // height: 3rem;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    padding-right: 3rem;
}