
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
    background: var(--color-light-black);
    padding: 2rem;
    // height: 3rem;

    .links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        width: 40%;

        .link {
            width: 24%;
            text-align: center;
        }
    }

    .social-networks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        width: 15%;
        background-color: white;
        border-radius: 5px;

        a {
            height: 3rem;
            width: 3rem;
            padding: .5rem;
            border-radius: 5px;

            img {
                height: 100%;
                width: 100%;
                filter: brightness(0) saturate(100%);
            }
        }
    }
}
